body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 236, 245);
  overflow: hidden;
}

.gameboy {
  height: 60vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
  border-radius: 50px;
}

.border {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;

  border-left: 90px solid #ccc;
  border-right: 90px solid #ccc;
  border-top: 30px solid #ccc;
  border-bottom: 30px solid #ccc;
  border-radius: 30px;
}

.filtro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 111, 3, 0.158);
  z-index: 1000;
}

.game-board {
  width: 100%;
  height: 465px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url('./images/fundo/mario.png');
  background-repeat: repeat-x;
}

.top-grass {
  width: 100%;
  height: 24px;
  background-image: url('./images/chao/mario.png');
  background-repeat: repeat-x;
} 

.bottom-grass {
  width: 100%;
  height: 200px;
  background-image: url('./images/terra/mario.png');
  background-repeat: repeat;
}

.player {
  position: absolute;
  width: 80px;
  bottom: 0;
}

.jump {
  animation: jump-animation 500ms ease-in-out;
}

.pipe {
  position: absolute;
  bottom: 0;
  height: 60px;
  animation: pipe-animation 2s infinite linear;
}

.clouds {
  position: absolute;
  top: 50px;
  height: 100px;
  animation: clouds-animation 15s infinite linear;
}

@keyframes jump-animation {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes pipe-animation {
  from {
    right: -10%;
  }

  to {
    right: 100%;
  }
}

@keyframes clouds-animation {
  from {
    right: -30%;
  }

  to {
    right: 100%;
  }
}
